.load {
  color: white;
  font-size: 100px;
  padding-left: 600px;
}
.container {
  width: 100vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-top: 80px;
  gap: 20px;
}
