.load {
  color: white;
  font-size: 50px;
  padding-left: 300px;
}
.container {
  width: 100vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 30px;
  margin-top: 80px;
  gap: 20px;
}
